/* Agrega tus estilos coloridos y agradables aquí */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#auth-section {
    position: relative;
}

#logo {
    display: block;
    background-color: transparent;
    width: 150px;
    height: auto;
    margin: 0 auto;  /* Centrar horizontalmente */
}

#info-section #logo {
    position: absolute;
    top: 10px;       /* Ajusta la posición superior según tus necesidades */
    left: 10px;      /* Ajusta la posición izquierda según tus necesidades */
}


.book-card {
    border: 1px solid #ccc;
    border-radius: 5;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff; /* Fondo blanco para las tarjetas de libro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#logout-button {
    background-color: #1e1ed7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

#tituloreceta{
    background-color: #e90e45;
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */


}

#auth-section,
#info-section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#ia-btn{
    background: rgb(63,94,251);
    background: radial-gradient( rgba(63,94,251,1) 0%, rgba(252,0,255,1) 91%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.button {
    background-color: #d23939;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e90e45;
}

#search-results,
#my-books-results {
    margin-top: 20px;
}

h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}